.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background {
  width: 120%;
  display: block;
  animation: slide-and-rotate infinite 20s linear;
  z-index: 1;
}

@keyframes slide-and-rotate {
  50% {
    transform: translate(-5%, -5%) rotate(3deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
}
