.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background {
  width: 120%;
  display: block;
  animation: slide-and-rotate infinite 20s linear;
  z-index: -100;
}

.root {
  z-index: 100;
  position: absolute;
  width: 100%;
}

p {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  color: white;
  background: linear-gradient(90deg, #fff, rgba(71, 71, 71, 0.71), #fff) no-repeat;
  background-size: 1000%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  padding: 30px 70px;
}

@keyframes animate {
  0% {
    background-position: 100%;
  }
  50% {
    background-position: 50%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes slide-and-rotate {
  50% {
    transform: translate(-5%, -5%) rotate(3deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
